:root {
    --forum: 'forum', cursive;
    --manrope: 'Manrope', sans-serif;
}
* {
    box-sizing: border-box;
}

body {
    background: #FFFFFF;
    color: #4F4F4F;
    font-family: var(--manrope);
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    margin: 0;
    padding: 0;
}

@media (min-width:576px) {
    body {
        font-size: 14px;
    }
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 32px;
    font-family: var(--forum);
    font-weight: 400;
    line-height: 39px;
    letter-spacing: -0.03em;
    margin: 0;
    text-align: center;
    text-transform: capitalize;
}

@media (min-width: 576px) {
    h1{
        font-size: 38px;
        line-height: 48px;
    }
}

@media (min-width: 992px) {
    h1{
        font-size: 48px;
        line-height: 58px;
    }
}

h3{
    font-size: 20px;
    font-weight: 400;
    font-family: var(--forum);
    line-height: 30px;
    letter-spacing: -0.01em;
    margin: 0;
    text-transform: capitalize;
    color: #FFF;
}

h4 {
    color: #AC9D80;
    font-family: var(--forum);
    font-size: 28px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: -0.02em;
    text-align: center;
    text-transform: capitalize;
    margin: 0;
}

h5 {
    color: #AC9D80;
    font-weight: 600;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

p{
    margin: 0;
}

.container {
    max-width: 100%;
    padding: 0 16px;
    margin: auto;
}

@media (min-width:576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width:768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width:992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width:1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width:1400px) {
    .container {
        max-width: 1476px;
    }
}

.title-head::before {
    content: '';
    background: #AC9D80;
    display: inline-block;
    height: 1px;
    transform: rotate(-90deg);
    width: 40px;
}
.section {
    padding-top: 60px;
    padding-bottom: 60px;
}

@media (min-width:576px) {
    .section {
        padding-top: 120px;
        padding-bottom: 120px;
    }
}

/* Header */
header {
    align-items: center;
    display: flex;
    justify-content: space-around;
    padding-top: 28px;
}

/* Header Brand */
.ja-brand a {
    align-items: center;
    color: #FFFFFF;
    display: flex;
    font-family: var(--forum);
    font-size: 30px;
    line-height: 40px;
}

.ja-brand img {
    margin-right: 16px;
}

/* Header Menu */
.ja-main-nav ul {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.ja-main-nav ul li {
    padding: 0 20px;
}

.ja-main-nav ul li a {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
}

/*  header button action */
.btn a {
    font-weight: 600;
    letter-spacing: 0.04em;
    line-height: 26px;
    padding: 12px 32px;
    text-transform: uppercase;
}
.btn-book-your-stay a:hover{
    background-color: #ac9465;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.btn-action {
    background: #AC9D80;
    color: #FFFFFF;
}

/* section 1 */
.section-hero {
    background: url(../img/bg_head.jpg) no-repeat;
    background-size: 100%;
    color: #FFFFFF;
    font-family: var(--forum);
    padding-top: 308px;
    padding-bottom: 215px;
    margin-top: -100px;
}

.section-hero h5 {
    color: #FFF;
    margin: 0 0 16px;
    text-align: center;
}

.section-hero h1 {
    font-size: 39px;
    line-height: 39px;
    letter-spacing: -0.02em;
    margin: 0 0 30px;
}

@media (min-width:992px){
    .section-hero h1 {
        font-size: 48px;
        line-height: 58px;
        margin: 0;
    }
}

@media (min-width: 1200px) {
    .section-hero h1 {
        font-size: 72px;
        line-height: 78px;
        margin: 0 0 120px;
    }
}

.section-hero .hero-decor {
    text-align: center;
}

@media (max-width:1600px) {
    .hero-decor {
        display: none;
    }
}

@media (max-width:576px) {
    .ja-header {
        justify-content: space-between;
    }

    .ja-brand {
        padding-left: 38px;
    }

    .ja-brand a {
        font-size: 20px;
    }

    .ja-brand img {
        max-height: 43px;
    }

    .btn a {
        font-size: 10px;
        line-height: 17px;
        padding: 8px 21px;
    }

    .section-hero h1 {
        display: none;
    }
}

@media (max-width:992px) {
    .ja-main-nav {
        display: none;
    }

    .section-hero {
        padding-top: 117px;
        padding-bottom: 48px;
    }
}

@media screen and (min-width:992px) and (max-width:1440px) {
    .section-hero {
        padding-top: 160px;
        padding-bottom: 100px;
    }
}

/* Begin: Title Hoteller Hotel specialises in providing luxury */
.section-hoteller{
    padding-top: 60px;
}

@media (min-width:576px) {
    .section-hoteller{
        padding-top: 120px;
    }
}

.section-title {
    text-align: center;

}

/* Content - This is hoteller */
.ct-hoteller {
    max-width: 828px;
    margin: auto;
    text-align: center;
    padding: 32px 0;
}

@media (min-width: 576px) {
    .ct-hoteller{
        padding: 64px 0;
    }
}

.ct-hoteller p {
    font-size: 12px;
    line-height: 21px;
    margin: 0;
}

@media (min-width:576px) {
    .ct-hoteller p {
        font-size: 18px;
        line-height: 32px;
    }
}

/* button discovery more */
.btn-bg-none {
    border: 1px solid #AC9D80;
    color: #AC9D80;
}

.btn-click {
    display: flex;
    justify-content: center;
}

.btn-click a:hover{
    color: #FFF;
    background-color: #AC9D80;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
/* End: Title Hoteller Hotel specialises in providing luxury */

/* Begin: Hoteller img */
.section-img-hoteller {
    display: flex;
    justify-content: center;
}

.img-hoteller {
    padding: 0 9px;
}

@media (min-width:992px) {
    .img-hoteller {
        padding: 0 18px;
    }
}

@media (min-width:1400px) {
    .section-img-hoteller{
        padding: 0 108px;
    }
}

.section-img-hoteller .img-hoteller-left {
    padding-top: 83px;
}

.section-img-hoteller .img-hoteller-right {
    position: relative;
}

.evaluate {
    background: #AC9D80;
    bottom: 0;
    color: #FFFFFF;
    position: absolute;
}

.evaluate .anh3 {
    padding: 29px 69px 20px;
}

.evaluate h5 {
    color: #FFF;
    text-align: center;
    margin: 0;
}

.evaluate .evaluate-box {
    display: flex;
    justify-content: center;
    padding-bottom: 29px;
}

.evaluate .evaluate-box h4 {
    color: #FFF;
    font-size: 72px;
    line-height: 78px;
    margin: 0 11px 0 0;
}

.evaluate .evaluate-star {
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.star{
    color: #FFCA41;
}
.evaluate .evaluate-star p {
    margin: 0;
}

@media (max-width:992px) {
    .evaluate {
        display: none;
    }
}
/* End: Hoteller img */

/* Begin: We strive to be the best in our field to make your */
.section-future .title-section-future h1 {
    font-size: 24px;
    line-height: 31px;
    letter-spacing: -0.02em;
    max-width: 838px;
    margin: auto;
}

@media (min-width:576px) {
    .section-future .title-section-future h1 {
        font-size: 36px;
        line-height: 46px;
    }
}

.frame-box {
    max-width: 100%;
    display: flex;
    justify-content: center;
}

.frame-box-content {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.frame {
    margin: 0 18px;
    padding: 0;
    width: 40%;
}

.frame h5 {
    color: #828282;
    text-align: center;
}

.frame h1 {
    color: #AC9D80;
    font-size: 64px;
    line-height: 64px;
    letter-spacing: -0.02em;
}

@media (min-width: 768px) {
    .frame{
        padding-top: 64px;
        width: auto;
    }
}

@media (min-width:992px) {
    .frame h1 {
        font-size: 96px;
        line-height: 96px;
    }
}

.section-our {
    display: flex;
    padding-top: 120px;
}

.our-pd {
    margin: 18px 18px;
}

.section-our-content {
    background: #F9F9F9;
    padding: 74px 72px 80px;
}

.section-our-img img {
    height: 100%;
    object-fit: cover;
}

.our-lux-spa {
    max-width: 360px;
}

.our-lux-spa h1 {
    text-align: left;
}

.our-lux-spa p {
    margin: 24px 0 64px;
}

@media (max-width:576px) {
    .section-our {
        padding-top: 60px;
    }

    .section-our-content {
        padding: 37px 36px 40px;
    }
}

@media (max-width:992px) {
    .section-our {
        flex-direction: column;
    }

    .our-lux-spa {
        max-width: none;
    }
}
/* End: We strive to be the best in our field to make your */

/* Begin: Luxury & Comfort Our services and wonders of Hoteller */
.option-services {
    padding: 64px 0 0;
}

@media (min-width: 576px) {
    .option-services {
        padding: 64px 108px 0;
    }
}

.option-services-group-4 {
    display: flex;
}

.option {
    border: 1px dashed #E0E0E0;
    height: 228px;
    margin: 16px 18px;
    width: 288px;
}

.option img {
    display: block;
    margin: auto;
    margin-top: 48px;
}

.option h4 {
    color: #333333;
    margin: 32px 0 0 0;
}

@media (max-width:576px) {
    .option-services {
        flex-direction: column;
        margin: auto;
    }

    .option-services-group-4 {
        margin: auto;
    }
}

@media (max-width:768px) {
    .option {
        margin: 8px 9px;
        width: 240px;
    }
}

@media (max-width:992px) {
    .option-services {
        display: flex;
        justify-content: center;
    }

    .option-services-group-4 {
        flex-direction: column;
    }
}
/* End: Luxury & Comfort Our services and wonders of Hoteller */

/* Begin What People Say */
.feedback {
    display: flex;
    justify-content: center;
    padding: 64px 0;
}

.feedback-wrap {
    padding: 0 18px;
}

.wrap-center {
    padding-top: 48px;
}

.feedback-content {
    border: 1px dashed #E0E0E0;
    max-width: 396px;
}

.feedback-content .img_title {
    padding: 32px 0;
    margin: auto;
    display: flex;
}

.feedback-content p {
    margin: 0 32px;
    text-align: center;
}

.feedback-content h6 {
    box-sizing: border-box;
    border: 1px dashed #E0E0E0;
    height: 1px;
    margin: 32px auto;
    max-width: 332px;
}

.feedback-content .avata {
    display: flex;
    margin: auto;
    margin-bottom: 10px;
    flex-direction: row;
    max-width: 176px;
}

.avata .avata_left {
    margin-right: 16px;
}

.avata .info {
    display: flex;
    flex-direction: column;
}

.avata .info h1 {
    letter-spacing: -0.01em;
    line-height: 30px;
    margin: 0;
    font-size: 20px;
}

.avata .info p {
    color: #828282;
    font-size: 12px;
    line-height: 22px;
    margin: 0;
    text-align: left;
}

.dot button {
    border: none;
    border-radius: 50%;
    display: inline-block;
    height: 8px;
    width: 8px;
}

.dot button:hover {
    background-color: #AC9D80;
}

@media (max-width:768px) {
    .feedback {
        flex-direction: column;
    }

    .feedback-wrap {
        padding: 18px 0;
        margin: auto;
    }
}
/* End: What People Say */

/* Begin: exclusive offer */
.section-exclusive {
    display: flex;
    justify-content: center;
}

.option-exclusive {
    background-color: #F9F9F9;
    width: 34%;
}

.option-exclusive h5 {
    margin: 120px auto 8px;
    text-align: center;
}

.option-exclusive h1 {
    color: #333333;
    letter-spacing: -0.02em;
    margin: 0 auto;
}

.option-exclusive img {
    display: block;
    margin: 64px auto;
}

.option-exclusive p {
    text-align: center;
    max-width: 437px;
    margin: auto;
}

.btn-view {
    margin: 24px auto 120px;
}
#btn-view-midle a:hover{
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

#option-middle {
    background: #AC9D80;
}

#option-middle {
    color: #FFF;
}

#btn-viewroom-middle {
    color: #fff;
    border: 1px solid #fff;
}

@media (max-width:768px) {
    .section-exclusive {
        flex-direction: column;
    }

    .option-exclusive {
        width: 100%;
    }
}

@media (max-width:992px) {
    .option-exclusive p {
        padding: 24px 50px;
    }
}
/* End: exclusive offer */

/* Begin: Latest News */
.latest-news .title-head{
    padding: 8px 0;
}

.section-latets {
    border-bottom: 1px dashed #E0E0E0;
    display: flex;
    padding: 48px 0;
}

.section-latets-img img {
    height: 100%;
    object-fit: cover;
}

@media (max-width: 992px) {
    .section-latets-img img{
        width: 100%;
    }
}

.section-latets-info {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    padding-left: 72px;
}

.section-latets-content {
    display: flex;
    align-items: center;
}

.section-latets-content div {
    max-width: 612px;
}

.section-latets-content h3 {
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
}

.section-latets-content h3 span {
    color: #828282;
}

.section-latets-content h3 span:first-child{
    color: #AC9D80;
}

.section-latets-content h3 span:first-child::after {
    content: '|';
    display: inline-block;
    margin: 0 8px;
    width: 1px;
}

.section-latets-content h4 {
    color: #333;
    margin: 8px 0 24px;
    text-align: left;
}

.section-latets-content p {
    margin-bottom: 16px;
}

.btn-read-more {
    display: flex;
    align-items: center;
    justify-content: start;
}

@media (max-width:576px) {
    .section-latets-content h1 {
        font-size: 18px;
        line-height: 24px;
        margin: 4px 0 12px;
        text-align: center;
    }

    .section-latets-img img {
        width: 100%;
    }
}

@media (max-width:992px) {
    .section-latets {
        flex-direction: column;
        margin: 0 10%;
    }

    .section-latets-info {
        padding: 0;
    }
}

@media (max-width:1400px) {
    .section-latets-info {
        flex-direction: column;
    }
}
/* End: Latest News */

/* Begin: Photo Gallery of Our Hotel */
.photos_gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 64px;
}
/* mobile */
.photo_index {
    width: 100%;
}

.photo_index img {
    padding: 12px;
    width: 100%;
}

/* tablet */
@media (min-width:768px){
    .photo_index img {
        padding: 15px;
    }
}

/* desktops */
@media (min-width: 1200px) {
    .photo_index img {
        padding: 18px;
    }
}
/* End: Photo Gallery of Our Hotel */

/* Begin: Footer */
.connect {
    border-top: 1px dashed #E0E0E0;
    border-bottom: 1px dashed #E0E0E0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.connect .box {
    border-left: 1px dashed #E0E0E0;
    padding: 56px;
    width: 419px;
}

.connect #box_end {
    border-right: 1px dashed #E0E0E0;
}

.box h4 {
    color: #333333;
    margin: 0;
    padding-bottom: 20px;
}

/* contact */
.contact {
    text-align: center;
}

.box p{
    padding: 4px 0;
}

.contact span {
    color: #AC9D80;
}

/* address */
.address {
    text-align: center;
}

.address a {
    color: #AC9D80;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}

.social{
    padding-top: 4px;
}

.social img {
    margin: 0 16px;
}

@media (max-width:576px) {
    .connect .box {
        width: auto;
    }
}

@media (max-width:768px) {
    .connect {
        flex-direction: column;
        margin: 0;
    }

    .connect .box {
        border: none;
        margin: auto;
    }

    .connect #box_end {
        border: none;
    }
}

@media (max-width:992px) {
    .connect .box {
        padding: 30px;
    }
}

.newsletter {
    padding: 64px 0;
}

/* input emmail */
.input-email {
    margin: auto;
    max-width: 612px;
    padding: 48px 0 24px;
}

input {
    background-color: #F9F9F9;
    border: none;
    font-size: 12px;
    width: 100%;
}

input[type='text'] {
    padding: 17px 32px;
    color: #828282;
}

.joom {
    border-top: 1px dashed #E0E0E0;
    padding: 40px 0 52px;
}

.end_page p {
    color: #828282;
    line-height: 22px;
    text-align: center;
    font-size: 12px;
}

.end_page span {
    color: #333333;
}
/* End: Footer */

/* Page About US */
.btn-header {
    border: 1px solid #FFFFFF;
    color: #FFF;
}

/* Begin: section 1 start */
.hero-banner {
    background-image: url(../img/banner.png);
    padding: 195px 0 157px;
    margin-top: -92px;
}

@media (min-width: 992px) {
    .hero-banner {
        padding: 97px 0 78px;
    }
}

@media (min-width: 1200px) {
    .hero-banner {
        padding: 130px 0 104px;
    }
}

@media (min-width: 1400px) {
    .hero-banner{
        padding: 195px 0 157px;
    }
}

.hero-banner h1 {
    line-height: 58px;
    margin: 0 0 16px;
}

.hero-banner div {
    display: flex;
    justify-content: center;
}

.hero-banner h1 {
    font-size: 48px;
}

.hero-banner h3 {
    font-weight: 400;
    margin: 0;
}

.hero-banner h3.child::before{
    content: '>';
    margin: 0 16px;
}

@media (max-width:576px) {
    header {
        padding-top: 14px;
    }

    .hero-banner {
        padding-top: 130px;
        margin-top: -58px;
    }
}

@media (max-width:992px) {

    .hero-banner h1,
    .hero-banner div {
        display: none;
    }

    .hero-banner {
        padding-bottom: 0;
    }
}

/* End: section 1 start */

/* Begin: WELCOME TO Hoteller hotel */
.section-welcome {
    display: flex;
    padding-top: 64px;
}

.welcome-title {
    width: 50%;
    margin: 0 18px;
}

.welcome-title-p1 {
    font-family: 'forum', cursive;
    font-size: 20px;
    letter-spacing: -0.01em;
    line-height: 30px;
    text-transform: capitalize;
}

/* banner */
.banner {
    position: relative;
}

.banner-image img{
    width: 100%;
}

.container-banner {
    padding-bottom: 8px;
    padding-top: 145px;
}

.banner-aosolute {
    background-color: #AC9D80;
    max-width: 396px;
    right: 0;
    position: absolute;
    top: -45px;
}

.banner-aosolute-content {
    padding: 48px 48px 64px;
    text-align: center;
}

.banner-aosolute-content p {
    color: #FFF;
    font-family: var(--forum);
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.01em;
    margin: 24px 0 40px;
    text-transform: capitalize;
}

@media (max-width:992px) {
    .banner-aosolute {
        display: none;
    }
}

@media (min-width:992px) and (max-width:1200px) {
    .banner {
        display: flex;
        position: inherit;
    }

    .banner-image {
        max-width: 60%;
    }

    .banner-image img {
        height: 100%;
        object-fit: cover;
    }

    .banner-aosolute {
        max-width: 40%;
        position: inherit;
    }
}

.container-payment-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.welcome-content {
    display: flex;
    padding-top: 56px;
}

.welcome-content p{
    margin: 8px 0 4px;
    max-width: 264px;
}

.welcome-content-info {
    padding-left: 36px;
}

.welcome-content-info h4 {
    color: #333333;
    text-align: left;
}
/* End: section 1 start */

/* Begin: Inspired by the principles of mindfulness */
.inspired{
    padding: 112px 0 120px;
}

.inspired .title-head h1{
    max-width: 689px;
    margin: auto;
}

.inspired-option{
    padding-top: 64px;
}

.inspired-option-box{
    background: #AC9D80;
    color: #FFF;
    position: relative;
}

@media (min-width: 992px) {
    .inspired-option{
        display: grid;
        grid-template-columns: auto auto;
        gap: 36px;
    }
}

.inspired-img{
    left: 32%;
    top: 11%;
    position: absolute;
}

.inspired-option-box h4{
    color: #FFF;
    padding: 64px 0 16px;
    position: relative;
}

.inspired-option-box p{
    max-width: 412px;
    margin: auto;
    text-align: center;
    position: relative;
}

.btn-inspired{
    padding: 48px 0 64px;
    position: relative;
}

.btn-inspired a{
    color: #FFF;
    border: 1px solid #FFF;
}

.gift-vouchers{
    background: #332A21;
}
/* End: Inspired by the principles of mindfulness */

/*  */
.nav-sun-way-rom{
    padding: 32px 0 64px;
}

.nav-sun-way-rom ul{
    display: flex;
    flex-direction: column;
    text-align: center;
}

@media (min-width: 768px) {
    .nav-sun-way-rom ul{
        flex-direction: row;
        justify-content: center;
    }
}

.nav-sun-way-rom li{
    padding: 0 20px;
}

.nav-sun-way-rom ul li a {
    color: #333333;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.01em;
}

.nav-sun-way-rom li a.active {
    color: #AC9D80;
}
.sun-way-room-content{
    display: grid;
    grid-template-columns: repeat(1,1fr);
}

.show_rooms_information {
    padding-bottom: 36px;
}

@media (min-width: 768px){
    .sun-way-room-content {
        grid-template-columns: repeat(2, 1fr);
        gap: 36px;
    }
    .show_rooms_information{
        padding: 0;
    }
}


.show_rooms_information h5{
    margin: 32px 0 2px;
}

.show_rooms_information h4{
    text-align: left;
    margin: 2px 0 4px;
}

.show_rooms_information h4 a{
    color: #333;
}

.show_rooms_information img{
    width: 100%;
}

.show_rooms_information p{
    margin: 12px 0 12px;
}

.show_rooms_information p span{
    color: #828282;
}

.show_rooms_information p span:first-child::after{
    content: '|';
    margin: 0 16px;
}

/* Begin: Page Detail */
.section-welcome-detail{
    display: flex;
}

.section-price{
    display: flex;
    justify-content: center;
    padding: 49px 0 18px;
}

@media (max-width: 768px) {
    .section-price{
        flex-direction: column;
    }
}

.price-room-detail{
    background: #AC9D80;
    padding: 42px 48px 0;
}

@media (min-width: 992px) {
    .price-room-content {
        max-width: 300px;
    }
}

.price-room-content h4{
    color: #FFF;
    text-align: left;
    padding: 6px 0;
}

.price-room-content h4 span{
    font-size: 38px;
}

.price-room-content p{
    color: #FFF;
    margin: 0;
    opacity: 0.6;
    padding: 6px 0 24px;
}

.price-room-infor-colum{
    display: flex;
    padding: 8px 0;
}

.price-room-infor-colum-img {
    padding-right: 16px;
}

.price-room-infor-colum-h3 {
    display: flex;
    flex-wrap: wrap;
}

.price-room-infor-colum h3{
    padding: 0 16px;
}

.btn-book-our-room{
    padding: 40px 0 78px;
}

.btn-book-our-room a{
    background: #332A21;
    display: block;
    text-align: center;
    padding: 12px 0;
}

.price-room-img{
    flex-grow: 1;
}

.price-room-img img{
    height: 100%;
    object-fit: cover;
    width: 100%;
}


@media (min-width: 768px) {
    .section-amenities-services{
        display: flex;
    } 
    
    .amenities{
        width: 60%;
    }
    
    .services {
        width: 40%;
    }
}

.amenities-services{
    border: 1px dashed #E0E0E0;
    padding: 48px 48px 56px;
    margin: 0 18px;
}

.amenities-services h4{
    color: #333;
    margin-bottom: 12px;
    text-align: left;
}

.amenities-item{
    display: flex;
    padding: 12px 0;
}

.amenities-item i{
    display: flex;
    align-items: center;
    margin-right: 8px;
}

@media (min-width: 1200px) {
    .amenities-content{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }    
}

.strive-group{
    display: grid;
    grid-template-rows: auto auto;
    gap: 18px;
    padding-top: 64px;
}

.strive-img{
    display: grid;
    gap: 18px;
}

@media (min-width: 992px) {
    .strive-group, .strive-img{
        gap: 36px;
    }
}

.colums-3{
    grid-template-columns: auto auto auto;
}

.colums-2{
    grid-template-columns: auto auto;
}

.strive-img img{
    width: 100%;
}

@media (min-width: 768px) {
    .other-rooms {
        display: grid;
        grid-template-columns: auto auto;
        gap: 36px;
        padding-top: 64px;
    }
    
    .other-rooms .show_rooms_information{
        padding: 0;
    }
}
/* End: Page Detail */

/* Page Gallery */
/* Begin: OUR PHOTO GALLERY */
.our-photo-gallery img{
    width: 100%;
}

@media (min-width: 768px) {
    .sun-way-room-row {
        display: grid;
        grid-template-rows: auto auto auto;
        gap: 48px;
    }
}
/*  End: OUR PHOTO GALLERY */

/* Page Contact */
@media (min-width: 768px) {
    .section-address {
            padding-top: 120px;
        }

    .title-contact-head{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 36px;
    }
}

.title-contact-content{
    border: 1px dashed #E0E0E0;
    padding: 40px 0;
    text-align: center;
    width: 100%;
}

.title-contact-content h4{
    padding: 16px 0 20px;
}

.title-contact-content p{
    padding: 4px;
}

.contact-us span{
    color: #AC9D80;
}

.contact-us p{
    margin: 8px 0;
}

.address-head p{
    max-width: 247px;
    margin: auto;
}

.follow-us-head h4{
    margin-bottom: 0;
}

.map{
    padding-top: 64px;
}

.map img{
    width: 100%;
}

.message-row{
    padding: 51px 0 64px;
    max-width: 1044px;
    margin: auto;
}

@media (min-width: 576px) {
    .input-message {
        display: grid;
        grid-template-columns: auto auto;
        gap: 36px;
    }
}

.input-message input{
    margin-bottom: 36px;
}

textarea{
    background: #F9F9F9;
    border: none;
    font-size: 12px;
    height: 200px;
    width: 100%;
    padding: 17px 32px;
}


