* {
    box-sizing: border-box;
}

body {
    background: #FFFFFF;
    color: #4F4F4F;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    margin: 0;
    padding: 0;
}
@media (max-width:576px) {
    body{
        font-size: 12px;
        font-family: ;
    }
}
:root {
    --f: 'forum',cursive;
    --m: 'Manrope',cursive;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

h1 {
    font-family: 'forum', cursive;
    font-weight: 400;
    text-align: center;
    text-transform: capitalize;
}

.p {
    color: #AC9D80;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.container {
    max-width: 1260px;
    margin: auto;
}

@media (max-width:1400px) {
    .container {
        max-width: 1140px;
        padding: 0 18px;
    }

    @media (max-width:1200px) {
        .container {
            max-width: 960px;
        }

        @media (max-width:992px) {
            .container {
                max-width: 720px;
            }

            @media (max-width:768px) {
                .container {
                    max-width: 540px;
                }
            }

            @media (max-width:540px) {
                .container {
                    max-width: 100%;
                }
            }
        }
    }
}

.title-head {
    padding-top: 120px;
    padding-bottom: 64px;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}
@media (max-width:576px) {
    .section {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

/* Header */
header {
    align-items: center;
    display: flex;
    justify-content: space-around;
    padding-top: 28px;
}

/* Header Brand */
.ja-brand a {
    align-items: center;
    color: #FFFFFF;
    display: flex;
    font-family: 'forum', cursive;
    font-size: 30px;
    line-height: 40px;
}

.ja-brand img {
    margin-right: 16px;
}

/* Header Menu */
.ja-main-nav ul {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.ja-main-nav ul li {
    padding: 0 20px;
}

.ja-main-nav ul li a {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
}

/*  header button action */
.btn a {
    font-weight: 600;
    letter-spacing: 0.04em;
    line-height: 26px;
    padding: 12px 32px;
}

.btn-action {
    background: #AC9D80;
    color: #FFFFFF;
}


/*  */
/* section 1 */

.section-hero {
    background: url(../img/bg_head.jpg) no-repeat;
    background-size: 100%;
    color: #FFFFFF;
    font-family: 'forum', cursive;
    padding-top: 308px;
    padding-bottom: 215px;
    margin-top: -100px;
}

.section-hero h3 {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.05em;
    margin: 0 0 16px;
    text-align: center;
    text-transform: uppercase;
}

.section-hero h1 {
    font-size: 72px;
    line-height: 78px;
    letter-spacing: -0.02em;
    margin: 0 0 120px;
}

.section-hero .hero-decor {
    text-align: center;
}
@media (max-width:576px) {
    .ja-header {
        justify-content: space-between;
    }

    .ja-brand {
        padding-left: 38px;
    }

    .ja-brand a {
        font-size: 20px;
    }

    .ja-brand img {
        max-height: 43px;
    }

    .btn a {
        font-size: 10px;
        line-height: 17px;
        padding: 8px 21px;
    }


    .section-hero h1 {
        display: none;
    }
}
@media (max-width:992px) {

    .section-hero h1 {
        font-size: 39px;
        line-height: 39px;
        margin: 0;
    } 
    .ja-main-nav {
        display: none;
    }

        .section-hero{
        padding-top: 117px;
        padding-bottom: 48px;
    }

    .hero-decor {
        display: none;
    }


}
@media (min-width:992px) and (max-width:1200px) {
    .section-hero h3 {
        font-size: 12px;
    }

    .section-hero h1 {
        font-size: 48px;
        line-height: 58px;
        margin: 0 0 30px;
    }    
}

@media screen and (min-width:992px) and (max-width:1440px) {
    .section-hero {
        padding-top: 160px;
        padding-bottom: 100px;
    }
}

/*  */
.section-title {
    text-align: center;
}

.line-straight {
    background: #AC9D80;
    display: inline-block;
    height: 1px;
    transform: rotate(-90deg);
    width: 40px;
}

.h1 {
    color: #333;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: -0.03em;
    margin: 0;
}

@media (max-width:576px) {
    .h1 {
        font-size: 24px;
        line-height: 29px;
    }

    .p {
        font-size: 10px;
    }
    .title-head{
        padding: 60px 0 32px;
    }
}

/* Content - This is hoteller */
.ct-hoteller {
    max-width: 828px;
    margin: auto;
    text-align: center;
}

.ct-hoteller p {
    font-size: 18px;
    line-height: 32px;
    margin: 0;
}
@media (max-width:576px) {
    .ct-hoteller p{
        font-size: 12px;
        line-height: 21px;
    }
}
/* button discovery more */
.btn-bg-none {
    border: 1px solid #AC9D80;
    color: #AC9D80;
}

.btn-click {
    display: flex;
    justify-content: center;
}

.btn-discover {
    padding-top: 64px;
}

/* Hoteller img */
.section-img-hoteller {
    display: flex;
    justify-content: center;
}

.img-hoteller {
    padding: 0 18px;
}
@media (max-width:992px) {
    .img-hoteller {
            padding: 0 9px;
        }
}
.section-img-hoteller .img-hoteller-left {
    padding-top: 83px;
}

.section-img-hoteller .img-hoteller-right {
    position: relative;
}

.evaluate {
    background: #AC9D80;
    bottom: 0;
    color: #FFFFFF;
    position: absolute;
}

.evaluate .anh3 {
    padding: 29px 69px 20px;
}

.evaluate h1 {
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin: 0;
}

.evaluate .evaluate-box {
    display: flex;
    justify-content: center;
    padding-bottom: 29px;
}

.evaluate .evaluate-box h2 {
    font-size: 72px;
    font-weight: 400;
    font-family: 'forum', cursive;
    line-height: 78px;
    letter-spacing: -0.02em;
    margin: 0 11px 0 0;
}

.evaluate .evaluate-star {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.evaluate .evaluate-star p {
    margin: 0;
}

@media (max-width:992px) {
    .evaluate {
        display: none;
    }
}

/*  */
.section-future .title-section-future h1 {
    font-size: 36px;
    line-height: 46px;
    letter-spacing: -0.02em;
    margin: auto;
}

@media (max-width:576px) {
    .section-future .title-section-future h1 {
        font-size: 24px;
        line-height: 31px;
    }
}

/*  */

/*  */
.frame-box {
    max-width: 100%;
    display: flex;
    justify-content: center;
}
.frame-box-content{
    display: flex;
}
.frame {
    margin: 0 18px;
    padding-top: 64px;
}

.frame p {
    color: #828282;
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    letter-spacing: 0.05em;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}

.frame h1 {
    color: #AC9D80;
    font-size: 96px;
    line-height: 96px;
    letter-spacing: -0.02em;
    margin: 0%;
    margin: 8px 54px 0;
}

@media (max-width:992px) {
    .frame-box {
        flex-direction: column;
    }
    .frame-box-content{
        justify-content: space-around;
    }
    .frame{
        width: 288px;
    }
    .frame h1{
        font-size: 80px;
    }
    @media (max-width:576px){
    .frame h1{
        font-size: 64px;
        margin: 4px 27px 0;
    }
}
}

/* Make Your Golden Memories */
.section-our {
    display: flex;
    justify-content: center;
    padding-top: 120px;
}

.our-pd {
    margin: 18px 18px;
}

.section-our-content {
    background: #F9F9F9;
    padding: 74px 72px 80px;
}

.section-our-img img {
    height: 100%;
    object-fit: cover;
}

.our-lux-spa {
    max-width: 360px;
}

.our-lux-spa .p {
    margin: 0;
}

.our-lux-spa h1 {
    text-align: left;
}

.our-lux-spa p {
    margin: 24px 0 64px;
}
@media (max-width:576px){
    .section-our{
        padding-top: 60px;
    }
    .section-our-content{
        padding: 37px 36px 40px;
    }
}
@media (max-width:992px) {
    .section-our {
        flex-direction: column;
    }

    .our-lux-spa {
        max-width: none;
    }
}

/* option services */
.option-services-group-4 {
    display: flex;
}

.option {
    border: 1px dashed #E0E0E0;
    height: 228px;
    margin: 16px 18px;
    width: 288px;
}

.option img {
    display: block;
    margin: auto;
    margin-top: 48px;
}

.option p {
    color: #333333;
    height: 36px;
    line-height: 36px;
    letter-spacing: -0.02em;
    margin: 32px 0 0 0;
    font-family: 'Forum', cursive;
    font-size: 28px;
    text-align: center;
    text-transform: capitalize;
}
@media (max-width:576px){
    .option-services{
        flex-direction: column;
        margin: auto;
    }
    .option-services-group-4{
        margin: auto;
    }
}
@media (max-width:768px) {
    .option{
        margin: 8px 9px;
        width: 240px;
    }
}
@media (max-width:992px) {
    .option-services {
        display: flex;
        justify-content: center;
    }

    .option-services-group-4 {
        flex-direction: column;
    }
}

/*  */

/* feedback */
.feedback {
    display: flex;
    justify-content: center;
}

.feedback-wrap {
    padding: 0 18px;
}

.wrap-center {
    padding-top: 48px;
}

.feedback-content {
    border: 1px dashed #E0E0E0;
    max-width: 396px;
}

.feedback-content .img_title {
    padding: 32px 0;
    margin: auto;
    display: flex;
}

.feedback-content p {
    line-height: 24px;
    margin: 0 32px;
    text-align: center;
}

.feedback-content h6 {
    box-sizing: border-box;
    border: 1px dashed #E0E0E0;
    height: 1px;
    margin: 32px auto;
    max-width: 332px;
}

.feedback-content .avata {
    display: flex;
    margin: auto;
    margin-bottom: 10px;
    flex-direction: row;
    max-width: 176px;
}

.avata .avata_left {
    margin-right: 16px;
}

.avata .info {
    display: flex;
    flex-direction: column;
}

.avata .info h1 {
    letter-spacing: -0.01em;
    line-height: 30px;
    margin: 0;
    font-size: 20px;
}

.avata .info p {
    color: #828282;
    font-size: 12px;
    line-height: 22px;
    margin: 0;
    text-align: left;
}

.dot {
    padding-top: 64px;
}

.dot button {
    border: none;
    border-radius: 50%;
    display: inline-block;
    height: 8px;
    width: 8px;
}

.dot button:hover {
    background-color: #AC9D80;
}

@media (max-width:768px) {
    .feedback {
        flex-direction: column;
    }

    .feedback-wrap {
        padding: 18px 0;
        margin: auto;
    }
}

/*  */

/* option-exclusive */
.section-exclusive {
    display: flex;
    justify-content: center;
}

.option-exclusive {
    background-color: #F9F9F9;
    width: 34%;
}

.option-exclusive h3 {
    color: #AC9D80;
    letter-spacing: 0.05em;
    margin: 120px auto 8px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
}

.option-exclusive h1 {
    color: #333333;
    letter-spacing: -0.02em;
    line-height: 58px;
    font-size: 48px;
    margin: 0 auto;
}

.option-exclusive img {
    display: block;
    margin: 64px auto;
}

.option-exclusive h4 {
    color: #AC9D80;
    font-family: 'Forum', cursive;
    font-size: 28px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    text-transform: capitalize;
    margin: 0;
}

.option-exclusive p {
    padding: 24px 101px;
    text-align: center;
}

.btn-view {
    margin: 24px auto 120px;
}

#option-middle {
    background: #AC9D80;
}

#option-middle {
    color: #FFF;
}

#btn-viewroom-middle {
    color: #fff;
    border: 1px solid #fff;
}

@media (max-width:768px) {
    .section-exclusive {
        flex-direction: column;
    }

    .option-exclusive {
        width: 100%;
    }
}
@media (max-width:992px){
    .option-exclusive p{
        padding: 24px 50px;
    }
}
/*  */

/* section latets */
.section-latets {
    border-bottom: 1px dashed #E0E0E0;
    display: flex;
    padding: 48px 0;
}

.section-latets-img img {
    height: 100%;
    object-fit: cover;
}

.section-latets-info {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    padding-left: 72px;
}

.section-latets-content {
    padding: 32px 0;
}

.section-latets-content div {
    max-width: 612px;
}

.section-latets-content h3 {
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    margin: 0;
}

.section-latets-content h3 span {
    color: #AC9D80;
}

.section-latets-content h1 {
    color: #333;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: -0.02em;
    margin: 8px 0 24px;
    text-align: left;
}

.section-latets-content p {
    margin: 0;
}

.btn-read-more {
    display: flex;
    align-items: center;
}

@media (max-width:576px) {
    .section-latets-content h1 {
        font-size: 18px;
        line-height: 24px;
        margin: 4px 0 12px;
        text-align: center;
    }
     .section-latets-img img{width: 100%;}   
    .section-latets-content{text-align: center;}
    .btn-read-more{justify-content: center;}
}
@media (max-width:1200px) {
    .section-latets-info {
        flex-direction: column;
    }

    @media (max-width:992px) {
        .section-latets {
            flex-direction: column;
            margin: 0 10%;
        }

        .section-latets-info {
            padding: 0;
        }
    }
}



/*  */

/*  */
.photos_gallery {
    display: flex;
    justify-content: center;
}

.photo {
    display: flex;
    flex-direction: column;
}

.photo_index {
    max-width: 396px;
    margin: 0 18px;
}

.photo_index img {
    margin-bottom: 36px;
}

@media (max-width:768px){
    .photo_index {
        margin: 0 5px;
    }
    .photo_index img {
        margin-bottom: 9px;
    }
}
@media (min-width:768px) and (max-width:1200px) {
    .photo_index {
        margin: 0 9px;
    }

    .photo_index img {
        margin-bottom: 18px;
    }
}

/* connect */
footer{
    padding-top: 84px;
}
.connect {
    border-top: 1px dashed #E0E0E0;
    border-bottom: 1px dashed #E0E0E0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.connect .box {
    border-left: 1px dashed #E0E0E0;
    padding: 56px;
    width: 419px;
}

.connect #box_end {
    border-right: 1px dashed #E0E0E0;
}

/* us contact */
.contact {
    text-align: center;
}

.box h1 {
    color: #333333;
    line-height: 36px;
    letter-spacing: -0.02em;
    font-size: 28px;
    margin: 0;
}

.contact span {
    color: #AC9D80;
    font-size: 14px;
}

.contact p {
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
}

/* us address */
.address {
    text-align: center;
}

.address a {
    color: #AC9D80;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}

.social img {
    margin: 24px 16px;
}

@media (max-width:576px) {
    .connect .box {
        width: auto;
    }
}

@media (max-width:768px) {
    .connect {
        flex-direction: column;
        margin: 0;
    }

    .connect .box {
        border: none;
        margin: auto;
    }

    .connect #box_end {
        border: none;
    }
}

@media (max-width:992px) {
    .connect .box {
        padding: 30px;
    }
}

/*  */
/* input emmail */
.input-email {
    text-align: center;
    width: 612px;
}

input {
    background-color: #F9F9F9;
    border: none;
    height: 56px;
    width: 100%;
}

input[type='text'] {
    padding-left: 24px;
    color: #828282;
}

/*  */
.btn-subscribe {
    display: flex;
    justify-content: center;
    padding: 24px 0 64px;
}

.line {
    border: 1px dashed #E0E0E0;
    box-sizing: border-box;
    height: 1px;
    opacity: 0.5;
}

/*  */
.end_page {
    max-width: 398px;
    margin: auto;
    padding: 40px 0 52px;
}

.end_page p {
    color: #828282;
    line-height: 22px;
    text-align: center;
    font-size: 12px;
}

.end_page span {
    color: #333333;
}

/*  */

/* About US */
.btn-header{
    border: 1px solid #FFFFFF;
    color: #FFF;
}

/* banner */
.hero-banner{
    background-image: url(../img/banner.png);
    padding: 195px 0 157px;
}
.hero-banner h1{
    line-height: 58px;
    margin: 0 0 16px;
}
.hero-banner div{
    display: flex;
    justify-content: center;
}
.hero-banner h1{
    font-size: 48px;
}
.hero-banner h3{
    font-weight: 400;
    margin: 0 8px;
}

/* WELCOME TO Hoteller hotel */
.section-welcome{
    display: flex;
}
.welcome-title{
    width: 50%;
    margin: 0 18px;
}
.welcome-title-p1{
    font-family: 'forum',cursive;
    font-size: 20px;
    letter-spacing: -0.01em;
    line-height: 30px;
    text-transform: capitalize;
}

/* banner */
.banner{
    position: relative;
}
.container-banner{
    padding: 145px 0 64px;
}
.banner-aosolute{
    background-color: #AC9D80;
    max-width: 396px;
    max-height: 396px;
    right: 0;
    position: absolute;
    top: -45px;
}
.banner-aosolute-content{
    padding: 48px 48px 64px;
    text-align: center;
}
.banner-aosolute-content p{
    color: #FFF;
    font-family: var(--f);
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.01em;
    margin: 24px 0 40px;
    text-transform: capitalize;
}