body {
    max-width: 100%;
    margin: auto;
}

/* header */
header {
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    position: relative;
}

a {
    text-decoration: none;
}

/* header logo */
.logo ul li {
    list-style-type: none;
}

.brands__item a {
    align-items: center;
    color: #FFFFFF;
    display: flex;
    font-family: 'Forum', cursive;
    font-size: 30px;
    justify-content: center;
    line-height: 40px;
}

.brands__item img {
    margin-right: 2%;
}

@media screen and (max-width: 576px) {
    .logo{display: none;}
}

@media screen and (max-width: 992px) {
    .logo img {
        width: 5vw;
    }

    .brands__item a {
        font-size: 20px;
    }
}

/* header menu */
.danhmuc {
    margin: 0;
    padding-top: 19px;
}

.danhmuc li {
    display: inline;

}

.danhmuc a {
    color: #FFFFFF;
    display: inline-block;
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    margin-right: 40px;
    padding: 10px;
}

.menu .icon {
    display: none;
}

@media screen and (max-width: 576px) {
    #menu a {
        display: none;
    }

    #menu a.icon {
        position: absolute;
        display: block;
        top: 10%;
        left: 3%;
    }
}

@media screen and (max-width: 992px) {
    .danhmuc a {
        margin: 0;
        font-size: 12px;
    }
}
@media only screen and (min-width:993px) and (max-width:1400px){
    .danhmuc a{
        margin-right: 20px;
    }
}
/* header button */
.btn {
    margin: auto 0;

}
.btn input {
    border: none;
    background: #AC9D80;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Manrope', sans-serif;
    padding: 15px 32px;
}
@media screen and (max-width: 576px) {
    .btn {
        display: none;
    }
}
@media only screen and (min-width:577px) and (max-width: 992px) {
    .btn input {
        font-size: 10px;
        padding: 10px 15px;
    }
}
/* background header */
.ss1 {
    margin-top: -97px;
    background-image: url(../img/bg_head.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
@media screen and (max-width: 576px){
    .ss1{margin-top: -19px;}
}
/* end header */

/* section 1 */
.title_1 {
    padding-top: 15%;
    color: #FFFFFF;
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    letter-spacing: 0.05em;
    text-align: center;
    text-transform: uppercase;
}

.title_2 {
    color: #FFFFFF;
    font-family: 'Forum', cursive;
    font-size: 4vw;
    line-height: 120%;
    padding-bottom: 20px;
    text-transform: capitalize;
    text-align: center;
    padding-bottom: 120px;
}

.title_3 {
    text-align: center;
    padding-bottom: 7%;
}

@media screen and (max-width:1400px){
        .title_1 {
        font-size: 1vw;
    }

    .title_2 {
        padding-bottom: 20px;
    }

    .title_3 img {
        width: 6vw;
    }
}
/* section 2 */
.ss2 {
    max-width: 80%;
    margin: auto;
}

.text_1 {
    color: #4f4f4f;
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    text-align: center;
    padding-top: 382px;
}

.text_1 p {
    width: 60%;
    margin: auto;
}

@media screen and (max-width:992px) {
    .text_1 {
        font-size: 2vw;
        margin-bottom: 5%;
        padding-top: 40px;
    }
}
@media only screen and (min-width:992px) and (max-width:1400px){
    .text_1{padding-top: 200px;}
}
/* button discovermore */
.btn_discovermore {
    text-align: center;
}

.btn_discovermore>.button {
    color: #AC9D80;
    cursor: pointer;
    border: 1px solid #AC9D80;
    background: #FFFFFF;
    font-size: 14px;
    margin: 46px 0 64px 0;
    padding: 12px 32px;
    text-align: center;

}

@media screen and (max-width: 576px) {
    .btn_discovermore .button {
        font-size: 2vw;
        padding: 5px;
    }
}

@media screen and (max-width: 992px) {
    .btn_discovermore .button {
        margin: 0;
    }
}

.btn_discovermore>.button:hover {
    background: #AC9D80;
    color: #FFFFFF;
}

/* box anh 1 */
.mask-group {
    display: flex;
    margin: 56px 0;
    justify-content: center;
}

/* img left */

.mask-group_left img {
    float: right;
    padding-top: 120px;
    padding-right: 18px;
    max-width: 100%;
}

/* img right */
.mask-group_right {
    position: relative;
}

.mask-group_right>.anh2 {
    max-width: 100%;
    padding-left: 18px;
}

/* div star */
.rectangle {
    background: #AC9D80;
    color: #FFFFFF;
    top: 63%;
    left: 18px;
    width: 48%;
    height: 37%;
    position: absolute;
}

.rectangle>.anh3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    padding-top: 29px;
}

.rectangle>P {
    font-size: 14px;
    text-align: center;
    padding-top: 20px;
    margin: 0%;
    font-family: 'Manrope', sans-serif;
}

.group49 {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 78px;
}

.group49_left p {
    font-size: 60px;
    font-family: 'Forum', cursive;
    margin: 0%;
}

.group49_right {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.group49_right p {
    margin: 0%;
    padding-top: 4px;
}

.star i {
    color: #FFCA41;
}

@media screen and (max-width:576px) {
    .rectangle {
        display: none;
    }

    .mask-group {
        margin: 5%;
    }

    .mask-group_left img {
        padding-top: 50%;
        float: none;
        padding-right: 2%;
    }

    .mask-group_right>.anh2 {
        padding-left: 2%;
    }
}

@media screen and (max-width:992px) {
    .rectangle>.anh3 {
        display: block;
        margin: auto;
        width: 60%;
        padding: 0;
    }

    .rectangle>P {
        padding-top: 5px;
        font-size: 11px;
    }
    .group49_left p {
        font-size: 50px;
    }

    .star i {
        font-size: 12px;
    }
}
@media screen and (max-width:1400px){
    .rectangle>.anh3{padding-top: 0;}
    .rectangle>P{padding-top: 5px;}
    .group49{flex-direction: column;height: auto;}
    .rectangle{text-align: center;}
    .group49_left p{font-size: 40px;}
}
/* box ảnh 1 end */

/*We strive to be the best in our field to make your vacation more comfortable*/
.text_2 {
    color: #333333;
    font-size: 36px;
    font-family: 'Forum', cursive;
    padding: 64px 0;
    text-transform: capitalize;
    text-align: center;
}

@media screen and (max-width:576px) {
    .text_2 {
        font-size: 4vw;
        width: 80%;
        margin: auto;
        padding: 0;
        line-height: 25px;
    }
}

.frame_box {
    max-width: 100%;
    display: flex;
    justify-content: center;
}

.frame {
    width: 288px;
    margin: 0 9px;
}

.frame>.text {
    color: #828282;
    font-family: 'Manrope', sans-serif;
    letter-spacing: 0.05em;
    text-align: center;
    text-transform: uppercase;
}

.frame>.number {
    color: #AC9D80;
    letter-spacing: -0.02em;
    margin: 0%;
    text-align: center;
    text-transform: capitalize;
    font-size: 96px;
}

@media screen and (max-width:576px) {
    .frame {
        width: auto;
        margin: auto;
    }

    .frame_box {
        flex-direction: column;
    }

    .frame>.text {
        font-size: 4vw;
    }

    .frame>.number {
        font-size: 10vw;
    }
}

/* box anh 2 start */
.box_ss1 {
    display: flex;
    justify-content: center;
    margin: 120px 0;
}

/* box left */
.rectangle20 {
    background: #F9F9F9;
    width: 30%;
    height: 650px;
}

#rectangle20_secon {
    margin-left: 2%;
}

/* box left content */
.rectangle20_content {
    width: 70%;
    margin: auto;
    padding-top: 20%;
}

.rectangle20_content>.p1 {
    color: #AC9D80;
    font-family: 'Manrope', sans-serif;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.rectangle20_content>.p2 {
    color: #4f4f4f;
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    line-height: 24px;
    margin: 14% 0;
}

/* button BOOKS YOUR STAY */
.rectangle20_content input {
    background: #AC9D80;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-family: 'Manrope', sans-serif;
    font-size: 1vw;
    margin: 4px 2px;
}

/* box right */
.rectangle22 {
    width: 68%;
}

.rectangle22 img {
    width: 100%;
    height: 650px;
}

@media screen and (max-width:992px) {
    .box_ss1 {
        flex-direction: column;
    }

    .rectangle20 {
        height: auto;
        width: 100%;
    }

    #rectangle20_content_index {
        padding: 10%;
    }

    #rectangle20_content_index>.p2 {
        height: auto;
        margin: 5% 0;
    }

    #rectangle20_content_index .btn .button {
        font-size: 12px;
    }

    .rectangle22 {
        width: 100%;
        height: auto;
    }

    .rectangle22 img {
        height: auto;
        width: 100%;
        padding-top: 3%;
    }
}

/*  */

/* title_conten */
.title_conten {
    max-width: 50%;
    text-align: center;
    margin: auto;
}

.sp_1 {
    background: #AC9D80;
    display: inline-block;
    height: 1px;
    transform: rotate(-90deg);
    width: 40px;
}

.title_conten>.sp_2 {
    color: #AC9D80;
    line-height: 26px;
    letter-spacing: 0.05em;
    margin: 8px 0 24px 0;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Manrope', sans-serif;
}

.sp_3 {
    color: #333333;
    letter-spacing: -0.03em;
    line-height: 58px;
    margin: 0 auto;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 3vw;
    font-family: 'Forum', cursive;
}

@media screen and (max-width:992px) {

    /* title_conten */
    .title_conten {
        max-width: 80%;
    }

    .sp_1 {
        width: 20px;
    }

    .title_conten>.sp_2 {
        margin: 0;
    }

    .title_conten>.sp_3 {
        font-size: 5vw;
        line-height: 120%;
    }
}

/*  */

/* group_item */
.group_item {
    margin-top: 64px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.group_item_content {
    border: 1px dashed #E0E0E0;
    margin: 16px 18px;
    width: 288px;
    height: 228px;
}

.group_item_content img {
    display: block;
    margin: auto;
    margin-top: 48px;
    max-width: 100%;
}

.group_item_content p {
    color: #333333;
    height: 36px;
    line-height: 36px;
    letter-spacing: -0.02em;
    margin: 32px 0 0 0;
    font-family: 'Forum', cursive;
    font-weight: 400;
    font-size: 28px;
    text-align: center;
    text-transform: capitalize;
}

@media screen and (max-width:576px) {

    /* group_item */
    .group_item {
        flex-direction: column;
    }

    .group_item_row {
        width: 100%;
    }

    .group_item_content {
        margin-left: auto;
        margin-right: auto;
    }

}


/* what prople say feedback */
.feedback {
    display: flex;
    justify-content: center;
    margin-top: 64px;
}

.feedback_content {
    border: 1px dashed #E0E0E0;
    width: 34%;
}

.feedback_content img.img_title {
    margin: 32px auto;
    display: block;
    justify-content: center;
}

.feedback_content>.p2 {
    line-height: 24px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    overflow: auto;
    width: 60%;
}

.feedback_content>.p3 {
    box-sizing: border-box;
    border: 1px dashed #E0E0E0;
    height: 1px;
    margin: 32px auto;
    width: 60%;
}

.feedback_content>.avata {
    display: flex;
    margin: auto;
    margin-bottom: 10px;
    height: 56px;
    flex-direction: row;
    width: 176px;
}

#feedback_content_center {
    margin: 36px 12px -36px 12px;
}

.avata>.avata_left {
    margin-right: 8px;
}

.avata>.avata_right {
    display: flex;
    margin: auto 0 auto 8px;
    flex-direction: column;
}

.avata>.avata_right h1 {
    letter-spacing: -0.01em;
    line-height: 30px;
    margin: 0;
    text-transform: capitalize;
    font-size: 20px;
    font-family: 'Forum', cursive;
    font-weight: 400;

}

.avata>.avata_right p {
    color: #828282;
    font-family: 'Manrope', sans-serif;
    font-size: 12px;
    line-height: 22px;
    margin: 0;
}

@media screen and (max-width:576px) {

    /* feedback */
    .feedback {
        flex-direction: column;
    }

    .feedback_content {
        width: 100%;
        margin: 0;
        margin-bottom: 3%;
    }

    #feedback_content_center {
        margin-top: 0;
    }
}


/*  */

/* dot */
.dot button {
    border: none;
    background-color: #f2f2f2;
    border-radius: 50%;
    display: inline-block;
    height: 8px;
    margin: 64px 8px;
    width: 8px;
}

.dot button:hover {
    background-color: #AC9D80;
}

/* option */
.option_select {
    display: flex;
    margin: 120px 0;
    justify-content: center;
}

.option {
    background-color: #F9F9F9;
    width: 34%;
}

.option>.p1 {
    color: #AC9D80;
    letter-spacing: 0.05em;
    margin: 120px auto 8px auto;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
}

.option h1 {
    color: #333333;
    letter-spacing: -0.02em;
    font-family: 'Forum', cursive;
    font-size: 48px;
    text-transform: capitalize;
    text-align: center;
}

.option img {
    display: block;
    margin: 64px auto;
    max-width: 100%;
    justify-content: center;
}

.option>.p2 {
    color: #AC9D80;
    font-family: 'Forum', cursive;
    font-size: 28px;
    text-align: center;
    text-transform: capitalize;
}

.option>.p3 {
    color: #4f4f4f;
    margin: 24px auto;
    font-size: 14px;
    font-family: 'Manrope', sans-serif;
    text-align: center;
    width: 70%;
}

#option_middle p {
    color: #FFFFFF;
}

.btn_viewroom {
    display: flex;
    font-family: 'Manrope', sans-serif;
}

.btn_viewroom>.btn_click {
    color: #AC9D80;
    border: 1px solid #AC9D80;
    background-color: #F9F9F9;
    padding: 15px 32px;
    font-size: 14px;
    margin: 24px auto 120px auto;
    cursor: pointer;
}

#btn_click {
    background-color: #AC9D80;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
}

/* describe */
.describe {
    border-bottom: 1px dashed #E0E0E0;
    display: flex;
    padding-bottom: 48px;
    margin-top: 48px;
}

.describe_content {
    margin: auto 3%;
    width: auto;
}

.describe_content>.p1 {
    color: #AC9D80;
    font-size: 12px;
    font-family: 'Manrope', sans-serif;
}

.describe_content>.p2 {
    color: #333333;
    letter-spacing: -0.02em;
    text-transform: capitalize;
    font-size: 28px;
    font-family: 'Forum', cursive;
}

.describe_content>.p3 {
    color: #4f4f4f;
    font-size: 14px;
    font-family: 'Manrope', sans-serif;
}

.describe_btn {
    margin: auto;
}

.describe_btn>.button {
    color: #AC9D80;
    cursor: pointer;
    border: 1px solid #AC9D80;
    background: #FFFFFF;
    padding: 12px 32px;
    text-align: center;
}

.describe_btn>.button:hover {
    background-color: #AC9D80;
    color: #FFFFFF;
}

@media screen and (max-width:992px) {
    .describe {
        display: flex;
        flex-direction: column;
    }

    .describe_content {
        margin: 0;
    }

    .describe_btn {
        margin: 0;
    }
}

/*  */
/* group_photo_gallery */
.group_photo_gallery {
    display: flex;
    margin: 64px 0 84px 0;
}

#photo_index {
    width: 33%;
    margin-right: 2%;
}

#photo_index img {
    width: 100%;
    margin-bottom: 4%;
}

/* us */
.connect {
    border-top: 1px dashed #E0E0E0;
    border-bottom: 1px dashed #E0E0E0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.connect div.box {
    border-left: 1px dashed #E0E0E0;
    padding: 56px;
    width: 419px;
}

.connect>#box_end {
    border-right: 1px dashed #E0E0E0;
}

/* us contact */
.contact {
    text-align: center;
}

.contact>.title {
    color: #333333;
    line-height: 36px;
    letter-spacing: -0.02em;
    text-transform: capitalize;
    font-size: 28px;
    font-family: 'Forum', cursive;
    margin: 0;
}

.contact span {
    color: #AC9D80;
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
}

.contact p {
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
}

/* us address */
.address {
    text-align: center;
}

.address>.title {
    color: #333333;
    margin: 0;
    letter-spacing: -0.02em;
    font-family: 'Forum', cursive;
    font-size: 28px;
    text-transform: capitalize;
    padding: 0 10%;
}

.address a {
    color: #AC9D80;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Manrope', sans-serif;
}

.social img {
    margin: 24px 16px;
}

@media screen and (max-width:576px) {

    /* connect */
    .connect {
        flex-direction: column;
        height: auto;
    }

    .connect div.box {
        width: auto;
        padding: 20px;
    }
}

/*  */
/* input emmail */
.email {
    text-align: center;
    margin-top: 48px;
}

.email input {
    background-color: #F9F9F9;
    border: none;
    height: 56px;
    width: 40%;

}

.email input[type='text'] {
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    line-height: 24px;
    padding-left: 24px;
    color: #828282;
}

/* btn subcribe */
.btn_subcribe {
    text-align: center;
}

.btn_subcribe button {
    color: #FFFFFF;
    cursor: pointer;
    border: 1px solid #AC9D80;
    background: #AC9D80;
    margin: 24px 0 64px 0;
    padding: 12px 32px;
    text-align: center;
}

/* line */
.line {
    border: 1px dashed #E0E0E0;
    box-sizing: border-box;
    height: 1px;
    margin: 0 0 40px 0;
    opacity: 0.5;
}

/* end_page */
.end_page {
    width: 398px;
    margin: 0 auto;
    margin-bottom: 52px;
}

.end_page p {
    color: #828282;
    line-height: 22px;
    text-align: center;
    font-family: 'Manrope', sans-serif;
    font-size: 12px;

}

.end_page span {
    color: #333333;
}

/* Page About Us */
/* section */
.ss1_about_us {
    margin-top: -97px;
    background-image: url(../img/about_us_header.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.btn_header_about_us {
    margin: auto 0;
    font-family: 'Manrope', sans-serif;
}

.btn_header_about_us input {
    border: 1px solid #FFFFFF;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.ss1_about_us div.title_head {
    color: #FFFFFF;
    text-align: center;
    text-transform: capitalize;
    font-family: 'Forum', cursive;
    font-size: 3vw;
    line-height: 1.5;
    padding-top: 10%;
}

.ss1_about_us div.title_head_1 {
    color: #FFFFFF;
    display: flex;
    margin: auto;
    padding-bottom: 6%;
    font-size: 1vw;
    font-family: 'Forum', cursive;
    justify-content: center;
    text-align: center;
    text-transform: capitalize;
}
@media screen and (max-width:576px) {
    .ss1_about_us{margin-top: -30px;}
    .ss1_about_us div.title_head{
        padding-top: 12%;
        padding-bottom: 7%;
    }
    .ss1_about_us div.title_head_1{display: none;}
}
/*  */
/* content_welcome aboutus */
.content_welcome {
    display: flex;
    justify-content: center;
}

.content_welcome_left {
    color: #4f4f4f;
    font-family: 'Forum', cursive;
    font-size: 20px;
    letter-spacing: -0.01em;
    line-height: 30px;
    text-transform: capitalize;
    width: 50%;
}

.content_welcome_right {
    color: #4f4f4f;
    line-height: 24px;
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    margin-left: 36px;
    width: 50%;
}

#title_conten_bg {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

@media screen and (max-width:576px) {
    .content_welcome {
        flex-direction: column;
        margin-top: 30px;
    }

    .content_welcome_left {
        width: 100%;
        font-size: 15px;
        line-height: 22px;
    }

    .content_welcome_right {
        width: 100%;
        margin: 0;
        font-size: 17px;
        line-height: 20px;
    }
}

/*  */
/* img content */
.img_content_about {
    position: relative;
}

.img_content_about img {
    width: 100%;
}

.img_content_about_absolute {
    background-color: #AC9D80;
    height: 66%;
    right: 0;
    top: -32px;
    position: absolute;
    width: 31%;
}

.img_content_about_absolute div.star {
    text-align: center;
    margin-top: 13%;
}

.img_content_about_absolute p {
    color: #FFFFFF;
    font-size: 20px;
    font-family: 'Forum', cursive;
    height: 40%;
    line-height: 30px;
    margin: 5% auto 10% auto;
    text-align: center;
    text-transform: capitalize;
    width: 80%;
    overflow-x: auto;
}

.img_content_about div#btn_strar_about_us {
    display: flex;
    justify-content: center;
}
@media screen and (max-width:576px) {
    .img_content_about_absolute p{display: none;}
    .img_content_about_absolute{display: none;}
}

/* about_us_option */
.about_us_option {
    display: flex;
    flex-wrap: wrap;
    margin-top: 64px;
    justify-content: center;
}

.select_option {
    display: flex;
    margin: 0 36px 56px 0;
    width: 396px;
    height: 96px;
}

.about_us_option p span {
    color: #333333;
    line-height: 36px;
    letter-spacing: -0.02em;
    font-family: 'Forum', cursive;
    font-size: 28px;
    text-transform: capitalize;

}

.about_us_option p {
    color: #4f4f4f;
    line-height: 24px;
    margin: 0;
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
}

/* LUXURY PREMIUM HOTELS */
.luxury_premium_hotels {
    display: flex;
    margin-bottom: 120px;
}

.luxury_premium_hotels_content {
    margin: 1%;
    position: relative;
    width: 49%;
}

.luxury_premium_hotels_content img {
    max-width: 100%;
    position: absolute;
    top: 12%;
    left: 29%;
}

.luxury_premium_hotels_content p.p1 {
    color: #FFFFFF;
    font-size: 28px;
    font-family: 'Forum', cursive;
    line-height: 36px;
    letter-spacing: -0.02em;
    text-transform: capitalize;
    text-align: center;
    margin-top: 64px;
    margin: 64px auto 0 auto;
}

.luxury_premium_hotels_content p.p2 {
    color: #FFFFFF;
    font-size: 14px;
    font-family: 'Manrope', sans-serif;
    line-height: 24px;
    margin: 16px 16%;
    text-align: center;
}

.luxury_premium_hotels div#btn_luxury_premium_hotels_content {
    display: flex;
    justify-content: center;
    margin-bottom: 64px;
    margin-top: 33px;
}

@media screen and (max-width:576px) {
    .luxury_premium_hotels {
        flex-direction: column;
    }

    .luxury_premium_hotels_content {
        width: 100%;
    }
}

/* Rooms */
.ss2 div#menu_content_rooms ul {
    text-align: center;
    padding: 0;
}

.ss2 div#menu_content_rooms a {
    color: black;
    font-family: 'Forum', cursive;
    font-size: 20px;
    margin: 0;
}

.ss2 div#menu_content_rooms .active {
    color: #AC9D80;
}

@media screen and (max-width: 576px) {
    #menu_content_rooms a:not(:first-child) {
        display: none;
    }

    #menu_content_rooms a.icon {
        float: right;
        display: block;
    }

    #menu_content_rooms.responsive {
        position: relative;
    }

    #menu_content_rooms.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    #menu_content_rooms.responsive a {
        background-color: #f2f2f2;
        float: none;
        display: block;
        text-align: center;
    }

    #menu_content_rooms.responsive {
        float: none;
    }

    #menu_content_rooms.responsive {
        position: relative;
    }

    #menu_content_rooms.responsive {
        display: block;
        width: 100%;
        text-align: left;
    }
}

/* show rooms information */
.rooms_information {
    display: flex;
    flex-direction: row;
}

.information {
    margin-right: 2%;
}

.show_rooms_information {
    margin-top: 48px;
}

.show_rooms_information img {
    width: 100%;
    margin-bottom: 32px;
}

.show_rooms_information span {
    color: #AC9D80;
    font-size: 14px;
    font-family: 'Manrope', sans-serif;
    line-height: 26px;
    text-transform: uppercase;
}

.show_rooms_information p.p1 a {
    color: #333333;
    font-size: 28px;
    font-family: 'Forum', cursive;
    letter-spacing: -0.02em;
    line-height: 36px;
    text-transform: capitalize;
    margin: 4px 0;
}

.show_rooms_information p.p2 {
    color: #828282;
    font-size: 14px;
    font-family: 'Manrope', sans-serif;
    line-height: 24px;
}

.show_rooms_information p.p3 {
    color: #4f4f4f;
    font-size: 14px;
    font-family: 'Manrope', sans-serif;
    line-height: 24px;
}

@media screen and (max-width:576px) {
    .rooms_information {
        flex-direction: column;
    }
}

/*  */
/* rooms details */
.amenities_services {
    display: flex;
}

/* box_ss1_datails */
#box_ss1_detail {
    margin-bottom: 36px;
    margin-top: 64px;
}

#rectangle20_content_details img{
    max-width: 100%;
}
#rectangle20_content_details {
    background-color: #AC9D80;
    margin-right: 2%;
    padding: 0;
    height: 550px;
}

#rectangle20_content_details p.price {
    color: #FFFFFF;
    letter-spacing: -0.02em;
    font-size: 48px;
    font-family: 'Forum', cursive;
    text-transform: capitalize;
    padding: 48px 0 0 48px;
    margin: 0;
}
#rectangle20_content_details p.price span{font-size: 28px;}
#rectangle20_content_details p {
    font-size: 28px;
    margin: 0;
}

#rectangle20_content_details p.title {
    color: #FFFFFF;
    font-size: 14px;
    font-family: 'Manrope', sans-serif;
    line-height: 24px;
    margin: 32px 0;
    opacity: 0.6;
    padding: 0 48px;
}

#rectangle20_content_details div.information {
    color: #FFFFFF;
    font-size: 20px;
    font-family: 'Forum', cursive;
    margin-bottom: 16px;
    text-transform: capitalize;
    display: flex;
    padding-left: 48px;
}
#rectangle20_content_details .information div{
    margin: auto 0;
    margin-right: 5%;
}
#btn_details {
    display: flex;
    justify-content: center;
    padding-top: 32px;
    padding-bottom: 78px;
}

#btn_details .button {
    background-color: #332A21;
    color: #FFFFFF;

}

#img_details img {
    width: 100%;
    height: 550px;
}

@media screen and (max-width:992px) {
    #rectangle20_content_details {
        margin: auto;
    }

    #img_details img {
        height: auto;
    }
}

@media screen and (max-width:576px) {
    #rectangle20_content_details {
        width: 100%;
        height: auto;
    }

    #rectangle20_content_details p.price {
        font-size: 34px;
        padding-top: 28px;
    }
    #btn_details{padding-bottom: 30px;}
    #rectangle20_content_details input{font-size: 13px;}
    #img_details img {
        height: auto;
    }
}

/* Amenities */
.Amenities {
    border: 1px dashed #E0E0E0;
    width: 68%;
}

div p.amenities_title {
    color: #333333;
    font-size: 28px;
    font-family: 'Forum', cursive;
    line-height: 36px;
    letter-spacing: -0.02em;
    text-transform: capitalize;
    margin-left: 48px;
}

.Amenities p {
    color: #4f4f4f;
    font-size: 14px;
    font-family: 'Manrope', sans-serif;
    line-height: 24px;
    margin-bottom: 24px;
}

.ameamenities_content {
    display: flex;
}

.ameamenities_content div {
    margin-left: 48px;
    margin-right: 80px;
}

.ameamenities_content i {
    margin-right: 8px;
}

/* services */
#services {
    border: 1px dashed #E0E0E0;
    margin-left: 2%;
    width: 30%;
}
@media screen and (max-width:576px) {
    #Amenities{flex-direction: column;}
        .Amenities{width: 100%;margin-bottom: 5%;}
        .ameamenities_content{flex-direction: column;}
        #services{width: 100%;margin: 0;}
}
@media only screen and (min-width:577px) and (max-width:992px){
    .Amenities{width: 50%;}
    .ameamenities_content{flex-direction: column;}
    #services{width: 50%;}
}
/*  */
/* details_group_img */
.details_group_img {
    margin-top: 32px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.details_group_img img {
    margin-right: 2%;
    margin-bottom: 2%;
    max-width: 100%;
}

/* rooms_information_details */
#rooms_information_details {
    justify-content: space-evenly;
    margin-bottom: 7%;
}

#show_rooms_information {
    width: 49%;
}
@media screen and (max-width:576px) {
    #rooms_information_details{flex-direction: column;}
    #show_rooms_information{margin: auto;margin-top: 38px;width: 100%;}
}
/*  */

/* Photo Gallery of Our Hotel */
#group_photo_gallery {
    margin-top: 64px;
}

#photo_gallery img {
    width: 100%;
    margin-bottom: 3%;
}

#photo_gallery {
    width: 50%;
}

/* page contact start */
.connect_header {
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
}

/* connect_header */
.connect_header .box {
    border: 1px dashed #E0E0E0;
    width: 30%;
    padding-top: 3%;
    padding-bottom: 3%;
}

#box_address {
    margin: 0 3%;
}

#address_information {
    text-align: center;
    padding: 0px 25%;
    font-size: 14px;
}
@media screen and (max-width:992px) {
    .connect_header{display: none;}
}
/* map_contact */
.map_contact img {
    margin: 5% 0;
    width: 100%;
}

/* Group input text*/
.form_group_input_contact {
    margin-top: 64px;
}

.group_input_contact {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
}

.group_input_contact input {
    background-color: #F9F9F9;
    border: none;
    height: 56px;
    width: 45%;
}

.group_input_contact input[type='text'] {
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    line-height: 24px;
    padding: 0 24px ;
    color: #828282;
}

textarea {
    background-color: #F9F9F9;
    border: none;
    font-family: 'Manrope', sans-serif;
    height: 200px;
    width: 100%;
    padding: 24px;
    resize: none;
}
@media screen and (max-width:992px) {
    .group_input_contact{flex-direction: column;}
    .group_input_contact input{
        width: 100%;
        margin-bottom: 2%;
    }
}
@media only screen and (min-width:992px) and (max-width:1400px) {
    .group_input_contact input{width: 43%;}
}
/* page contact end */
@media screen and (max-width:576px) {

    /* option index*/
    .option_select {
        flex-direction: column;
    }

    .option {
        width: 100%;
    }

    .option .p1 {
        margin-top: 60px;
    }

    .option .button {
        margin-bottom: 60px;
    }

    /* email */
    .email .ip_email {
        width: 80%;
    }

    /* end_page */
    .end_page {
        width: auto;
    }

    .end_page p {
        width: 85%;
        margin: auto;
    }
}